@import "./BootstrapOverrides/Overrides.scss";
@import "./anchorTags.scss";
@import "./flexbox.scss";
@import "./heightAndWidth.scss";
$dark-slate-gray: rgba(55,78,99,1);
$deep-space-sparkle: rgba(73, 94, 113, 1);
$paynes-grey: rgba(89, 108, 125, 1);

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-primary;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
  color: #FFF !important;
}

.pointer {
  cursor: pointer;
}
