form, .rfpBody {
    margin-top: 15px;
    padding: 16px;
    background-color: rgba(36,61,84,1);
    border-radius: 4px;
}

.modal-body form {
    background-color: #FFF;
}

.formInputBorderError {
    border-color: red;
}

.formErrorText {
    color: red;
}

.hidden {
    display: none;
}

.form-checkbox {
    padding-left: 37px;
}

// input.placeholderErrorTextColor {
//     color: red;
// }

// .placeholderErrorTextColor::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: red;
//     opacity: 1; /* Firefox */
// }

//   .placeholderErrorTextColor:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: red;
// }

//   .placeholderErrorTextColor::-ms-input-placeholder { /* Microsoft Edge */
//     color: red;
// }